@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none !important;
}

body {
  width: 100%;
  height: 100vh;
}
.profile {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  height: 100vh;
}

/* .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
} */

.profile .box {
  text-align: center;
  margin: 10px 0px;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212529;
  padding-top: 20px;
}
.sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}
.sidebar a:hover {
  background-color: #555;
}

.form-box {
  width: 100%;
  height: 100vh;
  padding: 50px;
}

.form {
  padding: 40px;
  border: 1px solid #212529;
  border-radius: 10px;
}
